<div id="product-details" #prodDetails
    [ngStyle]="{'filter': showProductDetails ? 'blur(5px)' : 'blur(0px)','position': showProductDetails ? 'relative' : 'relative' , 'left': showProductDetails ? 0 : 0  , 'right': showProductDetails ? 0 : 0  }">
    <div class="wrapper">
        <div class="pt-5">
            <h4 class="text-daek text-center">Add details for your Product</h4>
        </div>
        <div class="py-2">
            <p class="mb-0 text-secondary text-center">Unpriced products are hidden. You can edit them later</p>
        </div>
        <div class="d-flex justify-content-center flex-wrap py-2 mx-4">
            <div class="m-3" *ngFor="let product of products" style="cursor:pointer">
                <app-card-tile [product]="product" (onSelectProduct)="onSelectProduct($event)"
                    [selectedProduct]="selectedProduct" [selectedProductImages]="selectedProductImages"
                    [totalHeight]="totalHeight" [totalWidth]="totalWidth">
                </app-card-tile>
            </div>
        </div>
    </div>
</div>