<div id="card-tile" #card>
    <div class="wrapper">
        <div *ngIf="!showBigDiv" (click)="onEditCard()">
            <img src="{{product.selectedImage}}" alt="" width="250px" height="250px">
            <div class="py-2 px-3">
                <div class="py-1">
                    <p class="mb-0 text-secondary" style="font-size:14px">{{product.productTitle}}</p>
                </div>
                <hr class="m-0">
                <div class="py-1">
                    <p class="mb-0 text-secondary" style="font-size:14px">{{product.productPrice}}</p>
                </div>
            </div>
        </div>
        <div *ngIf="showBigDiv" class="animate" [ngStyle]="getCss()">
            <div class="d-flex align-items-center pb-2">
                <div class="px-2" *ngIf="showError">
                    <p class="mb-0 text-danger" style="font-size:12px">{{errorMessage}}</p>
                </div>
                <div class="px-2 ml-auto">
                    <div (click)="onEditCard()" style="cursor:pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: none
                                    }

                                    .cross-cls-2 {
                                        fill: #7b8ba7
                                    }

                                </style>
                            </defs>
                            <g id="close">
                                <path id="Path_136" d="M0 0h24v24H0z" class="cls-1" data-name="Path 136" />
                                <path id="Path_137"
                                    d="M18.3 5.71a1 1 0 0 0-1.41 0L12 10.59 7.11 5.7A1 1 0 0 0 5.7 7.11L10.59 12 5.7 16.89a1 1 0 0 0 1.41 1.41L12 13.41l4.89 4.89a1 1 0 0 0 1.41-1.41L13.41 12l4.89-4.89a1 1 0 0 0 0-1.4z"
                                    class="cross-cls-2" data-name="Path 137" />
                            </g>
                        </svg>
                    </div>
                </div>
            </div>
            <form (ngSubmit)="updateProductDetails(f)" #f="ngForm">
                <div class="d-flex align-items-start">
                    <div class="flex-fill pl-2">
                        <img src="{{selectedProduct.selectedImage}}" alt="" class="img-size">
                        <div class="form-group" style="margin-bottom:5px">
                            <label class="mb-0" for="productTitle">Product Title</label>
                            <input autocomplete="off" type="text" class="form-control" id="productTitle"
                                name="productTitle" required #title="ngModel"
                                [ngClass]="{'not-valid':(title.errors && (title.dirty || title.touched)) , 'valid': !(title.errors && (title.dirty || title.touched))}"
                                [placeholder]="(title.errors && (title.dirty || title.touched)) ? 'Please give a Product Title': 'Title'"
                                ngModel [(ngModel)]="selectedProduct.productTitle">
                        </div>
                        <div class="form-group" style="margin-bottom:5px">
                            <label class="mb-0" for="productPrice">Price</label>
                            <input autocomplete="off" type="number" class="form-control" id="productPrice"
                                name="productPrice" required #price="ngModel"
                                [ngClass]="{'not-valid':(price.errors && (price.dirty || price.touched)) , 'valid': !(price.errors && (price.dirty || price.touched))}"
                                [placeholder]="(price.errors && (price.dirty || price.touched)) ? 'Please give Price': 'Price'"
                                ngModel [(ngModel)]="selectedProduct.productPrice">
                        </div>
                        <div class="form-group" style="margin-bottom:5px">
                            <label class="mb-0" for="productOfferPrice">Offer Price</label>
                            <input autocomplete="off" type="number" class="form-control" id="productOfferPrice" required
                                #offerPrice="ngModel"
                                [ngClass]="{'not-valid':(offerPrice.errors && (offerPrice.dirty || offerPrice.touched)) , 'valid': !(offerPrice.errors && (offerPrice.dirty || offerPrice.touched))}"
                                [placeholder]="(offerPrice.errors && (offerPrice.dirty || offerPrice.touched)) ? 'Please provide Offer Price': 'Offer Price'"
                                name="productOfferPrice" ngModel [(ngModel)]="selectedProduct.productOfferPrice">
                        </div>
                        <div class="form-group" style="margin-bottom:5px">
                            <label class="mb-0" for="shippingCost">Shipping Cost</label>
                            <input autocomplete="off" type="number" class="form-control" id="shippingCost"
                                name="shippingCost" required #shippingCost="ngModel"
                                [ngClass]="{'not-valid':(shippingCost.errors && (shippingCost.dirty || shippingCost.touched)) , 'valid': !(shippingCost.errors && (shippingCost.dirty || shippingCost.touched))}"
                                [placeholder]="(shippingCost.errors && (shippingCost.dirty || shippingCost.touched)) ? 'Please provide Shipping Cost': 'Shipping Cost'"
                                ngModel [(ngModel)]="selectedProduct.shippingCost">
                        </div>
                        <div class="form-group" style="margin-bottom:5px">
                            <label class="mb-0" for="totalInventory">Inventory</label>
                            <select class="form-control" id="totalInventory" name="totalInventory" ngModel #inventory
                                (change)="onSelectInventory($event.target.value)" required>
                                <option value="">--Select Inventory--</option>
                                <option *ngFor="let inventory of totalInventory"
                                    [value]="selectedProduct.totalInventory">
                                    {{inventory}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="flex-fill pl-2">
                        <div class="upload-img-size"
                            [ngStyle]="{'background-color' : (selectedProduct.images.length === 1) ? 'rgba(0, 0, 0, 0.2)' : '#fff'}">
                            <div style="border:1px solid blue;height:100%" *ngIf="selectedProduct.images.length === 1">
                                <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                                    (onFileLeave)="fileLeave($event)">
                                    <p class="mb-0">drag and drop image here</p>
                                </ngx-file-drop>
                            </div>
                            <div *ngIf="selectedProduct.images.length > 1">
                                <div class="d-flex align-items-center justify-content-center flex-wrap py-2">
                                    <div class="p-1 hover" *ngFor="let image of selectedProductImages">
                                        <img src="{{image}}" alt="" height="60px" width="60px"
                                            (click)="onSelectImage(image)" style="cursor:pointer">
                                    </div>
                                    <div class="p-1" style="height:60px;width:60px;border:1px solid blue">
                                        <ngx-file-drop (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
                                            (onFileLeave)="fileLeave($event)">
                                        </ngx-file-drop>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height:300px;overflow-y:scroll">
                            <div *ngFor="let option of selectedProduct.options; let i=index">
                                <div class="form-group" style="margin-bottom:5px">
                                    <input autocomplete="off" type="text" class="form-control" id="optionName{{i}}"
                                        name="name{{i}}" ngModel [(ngModel)]="option.optionName"
                                        placeholder="Give a Option name here">
                                    <div *ngFor="let op of option.optionValues; let j=index">
                                        <input autocomplete="off" type="text" class="form-control" ngModel
                                            name="{{i}}optionValue{{j}}" [(ngModel)]="op.optionValue"
                                            placeholder="Variation {{j+1}}">
                                    </div>
                                    <div class="d-flex align-items-center py-2" (click)="addOptionValues(i)"
                                        style="cursor:pointer">
                                        <div class="pr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20">
                                                <defs>
                                                    <style>
                                                        .cls-1 {
                                                            fill: none
                                                        }

                                                        .cls-2 {
                                                            clip-path: url(#clip-path)
                                                        }

                                                        .cls-3 {
                                                            fill: #444b54
                                                        }

                                                        .cls-4 {
                                                            fill: #5cb900
                                                        }

                                                    </style>
                                                    <clipPath id="clip-path">
                                                        <path id="Rectangle_1359" d="M0 0h20v20H0z" class="cls-1"
                                                            data-name="Rectangle 1359" transform="translate(476 70)" />
                                                    </clipPath>
                                                </defs>
                                                <g id="add" class="cls-2" transform="translate(-476 -70)">
                                                    <g id="Group_6560" data-name="Group 6560">
                                                        <g id="Group_6558" data-name="Group 6558"
                                                            transform="translate(477 71)">
                                                            <path id="Path_8605"
                                                                d="M15.05 24.05a9 9 0 1 1 6.368-15.369A9 9 0 0 1 15.05 24.05zm0-17.076a8.08 8.08 0 1 0 5.7 2.375 8 8 0 0 0-5.7-2.375z"
                                                                class="cls-3" data-name="Path 8605"
                                                                transform="translate(-6.05 -6.05)" />
                                                        </g>
                                                        <g id="Group_6559" data-name="Group 6559"
                                                            transform="translate(482.606 76.606)">
                                                            <path id="Path_8606"
                                                                d="M48.325 44.931h-2.468v-2.468a.463.463 0 0 0-.926 0v2.468h-2.468a.463.463 0 0 0 0 .926h2.468v2.468a.463.463 0 0 0 .926 0v-2.468h2.468a.463.463 0 0 0 0-.926z"
                                                                class="cls-4" data-name="Path 8606"
                                                                transform="translate(-42 -42)" />
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="px-1">
                                            <p class="mb-0 text-secondary" style="font-size:12px">Add more variations
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center px-3 py-2">
                                <div class="p-2 border" style="display:inline-flex; cursor:pointer"
                                    (click)="addMoreOptions()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: none
                                                }

                                                .cls-2 {
                                                    clip-path: url(#clip-path)
                                                }

                                                .cls-3 {
                                                    fill: #444b54
                                                }

                                                .cls-4 {
                                                    fill: #5cb900
                                                }

                                            </style>
                                            <clipPath id="clip-path">
                                                <path id="Rectangle_1359" d="M0 0h20v20H0z" class="cls-1"
                                                    data-name="Rectangle 1359" transform="translate(476 70)" />
                                            </clipPath>
                                        </defs>
                                        <g id="add" class="cls-2" transform="translate(-476 -70)">
                                            <g id="Group_6560" data-name="Group 6560">
                                                <g id="Group_6558" data-name="Group 6558" transform="translate(477 71)">
                                                    <path id="Path_8605"
                                                        d="M15.05 24.05a9 9 0 1 1 6.368-15.369A9 9 0 0 1 15.05 24.05zm0-17.076a8.08 8.08 0 1 0 5.7 2.375 8 8 0 0 0-5.7-2.375z"
                                                        class="cls-3" data-name="Path 8605"
                                                        transform="translate(-6.05 -6.05)" />
                                                </g>
                                                <g id="Group_6559" data-name="Group 6559"
                                                    transform="translate(482.606 76.606)">
                                                    <path id="Path_8606"
                                                        d="M48.325 44.931h-2.468v-2.468a.463.463 0 0 0-.926 0v2.468h-2.468a.463.463 0 0 0 0 .926h2.468v2.468a.463.463 0 0 0 .926 0v-2.468h2.468a.463.463 0 0 0 0-.926z"
                                                        class="cls-4" data-name="Path 8606"
                                                        transform="translate(-42 -42)" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </div>
                                <div class="py-2">
                                    <p class="educational-text text-secondary">Have variations to ypur product like
                                        size,
                                        color and more ?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1 pl-2">
                        <div class="form-group" style="margin-bottom:5px">
                            <label class="mb-0" for="productDescription">Description</label>
                            <input autocomplete="off" type="text" class="form-control" required id="productDescription"
                                #description="ngModel"
                                [ngClass]="{'not-valid':(description.errors && (description.dirty || description.touched)) , 'valid': !(description.errors && (description.dirty || description.touched))}"
                                [placeholder]="(description.errors && (description.dirty || description.touched)) ? 'Please provide valid Description': 'Description'"
                                name="productDescription" ngModel [(ngModel)]="selectedProduct.productDescription">
                        </div>
                    </div>
                    <div class="px-2">
                        <button class="btn btn-primary p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <defs>
                                    <style>
                                        .arrow-cls-2 {
                                            fill: #fff
                                        }

                                    </style>
                                </defs>
                                <g id="save" transform="translate(-1184 -695)">
                                    <g id="savedNonActive" transform="translate(1184 695)">
                                        <path id="Path_8670"
                                            d="M20.015 11.767H5.333a1.333 1.333 0 1 0 0 2.667h14.682v2.387a.66.66 0 0 0 1.133.467l3.707-3.72a.685.685 0 0 0 0-.947L21.149 8.9a.663.663 0 0 0-1.133.467z"
                                            class="arrow-cls-2" data-name="Path 8670"
                                            transform="translate(-2.668 -1.1)" />
                                    </g>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
